[Unit]
Description=Keyboard backlight controlling service for MSI notebooks

[Service]
Type=dbus
BusName=org.morozzz.MSIKeyboardService
ExecStart=/usr/bin/msikeyboardd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
